<div class="container mx-auto bg-blue-200">
  <h2 class="text-2xl upercase p-4">Log in</h2>
  <div class="container mx-auto p-4">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    label_html: { class: "uppercase tracking-wide text-black text-xs font-bold mb-2"}, 
                    input_html: { autocomplete: "email", class: "w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" } %>
        <%= f.input :password,
                    required: false,
                    label_html: { class: "uppercase tracking-wide text-black text-xs font-bold mb-2"}, 
                    input_html: { autocomplete: "current-password", class: "w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in", class: "bg-gray-400 hover:bg-gray-500 text-white uppercase text-s mx-auto p-2 rounded m-2" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>

</div>
