<%= simple_form_for @item do |f| %>
  <div class="flex flex-col mb-4">
    <%= f.input :title, label: "Item",
        label_html: { class: "mb-2 uppercase font-bold text-lg text-white m-3"}, 
        input_html: { class: "block border py-2 px-3 text-gray-sarkest w-80 m-3" } %>
  </div>
  <div class="flex flex-col mb-4">
    <%= f.input :description, 
        label_html: { class: "mb-2 uppercase font-bold text-lg text-white m-3"}, 
        input_html: { class: "block border py-2 px-3 text-grey-darkest overflow-auto h-32 w-80 m-3" } %>
  </div>
  <div class="flex">
    <%= f.button :submit, class: "bg-gray-400 hover:bg-gray-500 text-white uppercase text-lg mx-auto p-4 rounded m-3" %>
    <%= link_to "Cancel", root_path, class: "bg-red-400 hover:bg-red-500 text-white uppercase text-lg mx-auto p-4 rounded m-3" %>
  </div>
<% end %>