<div class="py-20" style="background: linear-gradient(90deg, #667eea 0%, #764ba2 100%)">
  <div class="container mx-auto px-6">
    <h2 class="text-4xl font-bold mb-2 text-white">
      Smart todo with Hiptime!
    </h2>
    <h3 class="text-2xl mb-8 text-gray-200">
      Monitor your productivity any time for free!!.
    </h3>

    <%= link_to "Sign Up Now!", new_user_registration_path, class: "bg-white font-bold rounded-full py-4 px-8 shadow-lg uppercase tracking-wider"%> 
  </div>
</div>