<div class="container mx-auto">
  <div class="flex justify-center pt-6">
    <div class="flex flex-col justify-center bg-gray-600 rounded">
      <div class="flex justify-center">
        <h1 class="text-white uppercase text-lg">Edit Todo Item</h1>
      </div>

      <div>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>