<% if user_signed_in? %>
  <% @items.each do |item| %>
    <div class="container mx-auto pt-4 bg-gray-700 rounded-lg shadow mt-2 mb-2">
      <div class="container mx-auto p-4">
        <div class="bg-gray-200 p-2 rounded-lg">
          <h2 class="text-blue-300 text-2xl"><%= link_to item.title, item %></h2>
        </div>
        <div class="p-2">
          <p class="text-white"><%= item.description %></p>
        </div>
      <% if item.completed? %>
        <div class="p-2">
          <%= link_to complete_item_path(item), method: :patch do %>
            <svg class="w-10 inline-block bg-green-300 hover:bg-green-600 text-green-600 hover:text-green-300 cursor-pointer" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <span class="text-green-300 hover:text-green-400 uppercase mouse">Completed</span>
          <% end %>
        </div>
      <% else %>
        <div class="p-2">
          <%= link_to complete_item_path(item), method: :patch do %>
            <svg class="w-10 inline-block bg-red-300 hover:bg-red-600 text-red-600 hover:text-red-300 cursor-pointer" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
            <span class="text-red-300 hover:text-red-400 uppercase mouse">Not Completed</span>
          <% end %>
        </div>
      <% end %>
      </div>
    </div>
  <% end %>
  <div class="container mx-auto pt-4">
    <%= link_to "New Item", new_item_path, class: "bg-gray-400 uppercase hover:bg-gray-500 text-white text-md p-4 rounded" %>
  </div>
<% else %>  
  <%= render 'welcome_page'%>
<% end %>