<div class="flex justify-center pt-6">
  <div class="flex flex-col justify-center bg-gray-600 rounded">
    <div class="flex justify-center">
      <h1 class="text-white uppercase text-lg">New Todo Item</h1>
    </div>

    <div>
      <%= render 'form' %>
    </div>
  </div>
</div>