<div class="container mx-auto pt-4 bg-gray-700 rounded-lg shadow h-60">
  <div class="flex flex-col justify-left item-left m-4">
    <div class="text-left">
      <h2 class="text-white text-4xl"><%= @item.title %></h2>
      <h2 class="text-blue-400 text-lg">Created by: <%= @item.user.email %></h2>
      <p class="text-white"><%= @item.description %></p>
    </div>
    <div class="block pt-4">
      <%= link_to "Back", root_path, class: "bg-gray-400 uppercase hover:bg-gray-500 text-white text-md p-4 rounded" %>
      <%= link_to "Edit", edit_item_path(@item), class: "bg-blue-400 uppercase hover:bg-blue-500 text-white text-md p-4 rounded" %>
      <%= link_to "Delete", item_path(@item), method: :delete, data: {confirm: "Are you sure?"}, class: "bg-red-400 uppercase hover:bg-red-500 text-white text-md p-4 rounded" %>
    </div>
  </div>
</div>