<!DOCTYPE html>
<html>
  <head>
    <title>Hiptime</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-gray-600 bg-blue-50">
  
    <nav class="bg-gray-700 shadow-lg">
      <div class="container mx-auto">
        <div class="sm:flex justify-between">
          <%= link_to "hiptime", root_path,  class: "text-white text-2xl font-bold p-3 uppercase" %>
          <ul class="text-gray-400 sm:self-center text-xl border-t sm:border-none">
            <% if user_signed_in? %>
              <li class="sm:inline-block">
                <%= link_to "Create Item", new_item_path, class: "p-3 hover:text-white" %>
              </li>
            <% end %>
            <% if current_user.present?%>
              <li class="sm:inline-block">
                <%= link_to "Sing Out", destroy_user_session_path, method: :delete, class: "p-3 hover:text-white" %>
              </li>
            <% else %>
              <li class="sm:inline-block">
                <%= link_to "Log In", new_user_session_path, class: "p-3 hover:text-white" %>
              </li>
              <li class="sm:inline-block">
                <%= link_to "Sing Up", new_user_registration_path, class: "p-3 hover:text-white" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
  </nav>
  <div class="container mx-auto">
    <p class="notice text-green-700 py-3 rounded relative sfont-bold"><%= notice %></p>
    <p class="alert text-red-700 py-3 rounded relative sfont-bold"><%= alert %></p>
  </div>
    <%= yield %>
  </body>
</html>
